/* ============================= */
/* HEADER / MENU                 */
/* ============================= */
header {
  background-color: var(--color-primary);
  padding: var(--space-2);
}

header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

header li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-secondary);
  font-size: var(--fs-md);
  padding: var(--space-1);
  transition: color 0.3s;
}

header li a:hover {
  color: var(--color-accent);
}

.nav-toggle {
  display: none;
  cursor: pointer;
  font-size: var(--fs-lg);
  color: var(--color-secondary);
  background: none;
  border: none;
}
