@import url("base.css");
@import url("header.css");
@import url("main.css");
@import url("cards.css");
@import url("footer.css");
@import url("responsive.css");

section {
  padding: 40px 0;
}

p {
  line-height: 1.8;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  margin-bottom: 25px;
}

.container {
  padding: 30px 20px;
}
